[Service]
ExecStart=/usr/bin/node /home/ubuntu/bin/express-basics/bin/www
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=express-basics
User=ubuntu
Group=ubuntu
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target

